.nav-bar__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-weight: 700;
}

.nav-bar__content ul {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nav-bar__content li {
  margin: 0.5rem 1.5rem;
}

.nav-bar__content_logo {
  align-items: center;
}

.nav-bar__content_search {
  align-items: center;
}

.nav-bar__content_search li:nth-child(1) {
  order: 1;
}

.nav-bar__content_search_input-search {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
}
.nav-bar__content_search_input-search input::placeholder {
  color: #ee0e7d;
}

.nav-bar__content_search_input-search input,
.nav-bar__content_search_input-search input:focus,
.nav-bar__content_search_input-search button,
.nav-bar__content_search_input-search button:focus {
  border: none;
  background-color: white;
  outline: 0;
}

.popup {
  background-color: white;
  
  height: auto;  
  width: 95vw;
  border: 2px solid black;
  margin: auto;
  
}

.popup__head {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 15px;
  border: 1px solid black;
}

.popup__head h1 {
  font-size: 2rem;
}

.popup__head button {
  background:none;
  border: none;
  font-size: 1.5rem;
}

.popup__body {
  padding: 1rem;
}
.popup_imagem-dados {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.popup__body img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  background: url("../../../assets/img/Pokebola.png");
}

.popup__body h2 {
  font-size: 1.5rem;
  text-align: center;
}
.popup__body p {
  margin: 20px 5px;
}
@media (min-width: 768px) {
  .popup {
    position: absolute;
    width: 400px;
    top: 30%;
    left: 30vw;
    width: 400px;
    z-index: 2;
  }
}

@media (min-width: 1024px) {
  .nav-bar__content {
    flex-direction: row;
  }

  .nav-bar__content ul {
    flex-direction: row;
    margin: 0;
  }

  .nav-bar__content li {
    margin: 0rem 1.5rem;
  }

  .nav-bar__content_search li:nth-child(1) {
    order: 0;
  }

  .popup {
    top: 10%;
    left: 40vw;
    width: 400px;
  }
}
