@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .App {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
} */

html{
  font-size: 14px;
  font-family: Barlow ;
}

h1{
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
 font-weight: 500;
}

.content {
  max-width: 1440px;  
  margin: 0 auto;
  box-sizing: border-box;  
}
