@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
  font-size: 16px;
  font-family: Barlow ;
}

section {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

h1{
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
 font-weight: 500;
}



.nav-bar{
  display: flex;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-weight: 700;

}

.nav-bar li {
  margin-right: 2rem;
}

.nav-bar_logo{
  display: flex;
  align-items: center;
}

.nav-bar_search{
  display: flex;
  align-items: center;
}

.nav-bar_search_input-search {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
}
.nav-bar_search_input-search input::placeholder{
  color: #ee0e7d;
}

.nav-bar_search_input-search input,.nav-bar_search_input-search input:focus,
.nav-bar_search_input-search button,.nav-bar_search_input-search button:focus{
  border: none;
  background-color: white;
  outline: 0;
}


.hero-banner {
  background-color: #03FFA5;
  box-sizing: border-box;
  padding: 4rem;
  height: 560px;
}

.hero-banner__conteudo {
  display: flex;
  justify-content: space-around;
  
}

.hero-banner__conteudo__text {
  
  width: 400px;
}

.hero-banner__conteudo__text p {
  margin: 2rem 0;
  line-height: 24px;
}

.hero-banner__conteudo__text button {
  background-color: #03FFA5;
  display: block;
  width: 200px;
  height: 48px;  
  border-radius: 5px;  
}

.hero-banner__produtos{
  display: flex;
  
}
.hero-banner__produtos__produto {
  box-sizing: border-box;
  width: 209px;
  height: 271px;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 15px 15px rgba(0,0,0,0.5);  
  padding: 1rem; 
}



.hero-banner__produtos__produto button {
  background: none;
  border:2px solid #ee0e7d;
  border-radius: 25px;
  color: #ee0e7d;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  align-self: baseline;
}

.hero-banner__produtos #produto1{
  position: relative;
  top: 120px;
}
.hero-banner__produtos #produto2{
  position: relative;
  top: -30px;
  left: -80px;
  z-index: 1;
}
.hero-banner__produtos #produto3{
  position: relative;
  top: 160px;
  left: -160px;
}








.logo-bar {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  padding: 0 6rem ;
}

.logo-bar_marcas {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




.our-soluctions {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.produtos {
  display: inline-block;
  margin: auto;
}

.produtos h2 {
  margin-bottom: 1rem;
}

.produtos__produto {
  border: 2px solid black;
  border-radius: 5px;
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
  margin: .5rem;
}
.produtos::nth-child(1){
  margin-left: 0;
}

.produtos__produto img{
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin-bottom: 2rem;

}

.produtos__produto h3{
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem 0;
}

.produtos__produto h4{
  font-size: 0.8rem;
  color: #ee0e7d;
  font-weight: 700;
}

.produtos__produto ul {
  list-style: disc;
  margin: 1rem 0;
}

.produtos__produto li {
  list-style-position: inside;
}

.produtos__produto button{
  background-color: #03FFA5;
  display: block;
  width: 200px;
  height: 48px;
  
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}





.contact-info { 
  box-sizing: border-box;
  background-color: #ee0e7d ;
  padding: 6rem 0 6rem 0; 
  margin: 0 auto;
  color: white;
}

.contact-info h2 {
  text-align: center;    
  margin: 0 auto;
  max-width: 676px;
  
}

.contact-info h5 {
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0 0 0;
}

.contact-info h3 {
  text-align: center;
  font-size: 2rem;
}











.jussi-session{
  background-image: linear-gradient(90deg, white 50%, #F2F2F2 50%);
  height: 648px;
  padding: 4rem;
}

.jussi-serrion__conteudo {
  display: flex;
  justify-content: space-evenly;
  
}

.jussi-serrion__conteudo__text{
  display: inline-flex;
  flex-direction: column;
  width: 200px;
}

.jussi-serrion__conteudo__text p {
  margin: 2rem 0;
  line-height: 1.2;
}




.jussi-session button {
  flex-shrink: 0;
  background: none;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}




.newletter {
  background-color: black;
  padding: 6rem 0 6rem 0;
  color: white;
}

.newletter h2{
  max-width: 676px;
  
  text-align: center;
  
  margin: 0 auto;
  
}

.newletter .email{
  display: flex;
  margin: 0 auto;
  width: 30%;
  justify-content: space-between;  
  border-bottom: 2px solid #03FFA5;
  margin-top: 2rem;
}

.newletter .email input {
  padding: 0.5rem;
  color: #03FFA5;
  background: none;
  border: none;
}



footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 2rem 0;
  box-sizing: border-box;
  background-color: black;
}

footer>img {
  
  margin-left: 6rem;
  width: fit-content;
  height: fit-content;
}

footer ul {
  display: flex;
  flex-direction: row;
  margin-right: 6rem;
}
footer li:nth-child(2) {
  margin: 0 2rem;
}