


footer{
  background-color: black;
  padding: 2rem 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
    flex-direction: column;   
  }
  
  .footer__content>a {    
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  
  .footer__content ul {
    display: flex;
    flex-direction: row;    
    margin: 1rem auto;
  }
  .footer__content li:nth-child(2) {
    margin: 0 2rem;
  }

  @media (min-width: 768px){
    .footer__content{
      flex-direction:row;
    }

    .footer__content>a {
      margin: 0 0 0 6rem;
    }

    .footer__content ul {
      margin: 0 6rem 0 0;

    }
  }