.jussi-session {
  background-image: linear-gradient(180deg, white 20%, #f2f2f2 80%);
  padding: 1rem;
}

.jussi-session__conteudo {
  display: flex;
  flex-direction: column;
}

.jussi-session__conteudo img {
  width: 90%;
  max-width: 450px;
  margin: auto;
}

.jussi-session__conteudo__text {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  margin: 1rem auto;
}

.jussi-session button {
  margin: auto;
  width: 200px;
  flex-shrink: 0;
  background: none;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}
.jussi-session button:hover{
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.151);
}

.jussi-session__conteudo__text p {
  margin: 2rem 0;
  line-height: 1.2;
}

@media (min-device-width: 768px) {
  .jussi-session {
    background-image: linear-gradient(90deg, white 50%, #f2f2f2 50%);
    padding: 4rem;
  }

  .jussi-session__conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .jussi-session__conteudo img {
    width: 60%;
    max-width: none;
    margin: 0;
  }

  .jussi-session__conteudo__text {
    text-align: left;
    width: 200px;
    margin: 0;
  }
}

@media (min-device-width: 1024px) {
  .jussi-session__conteudo img {
    width: 550px;
  }
}
